
<div class="container py-5">
  <!-- For Demo Purpose-->
  <header class="text-center mb-5">
    <h1 class="display-4 font-weight-bold">Products</h1>
    <p class="font-italic text-muted mb-0">An awesome Products
      collection with variant content.</p>
    <p class="font-italic text-muted">GEAR SHOP <a
        href="#" class="text-muted">
        <u>GEAR SHOP </u></a>
    </p>
  </header>

  <!-- First Row [ProDucts]-->
  <!-- <h2 class="font-weight-bold mb-2">From the Shop</h2>
  <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit </p> --> 
  <!-- <select
    class="form-select form-select-lg shadow-none bg-light border-0 w-25 mb-5"
    [(ngModel)]="listFilterValue">
    @for(item of category;track item.ID) {
    <option [value]=item.ID> {{item.Name}}</option>
    }
  </select> -->
  <div class="row pb-5 mb-5">
    @for(item of productsPriceFilter;track item.id){
    <!-- @for(item of productsListFilter;track item.ID){ -->
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 ">
      <div class="card rounded shadow-sm border-0 mb-5">
        <div class="card-body p-4"><img
            [src]="item.Img"
            alt class="img-fluid d-block mx-auto mb-3">
          <h5> <a href="#"
              class="text-dark text-decoration-none">{{item.Name}}</a></h5>
          <p class=" text-danger  font-italic">Price: {{item.Price |
            currency}}</p>
          <p class=" text-bold font-italic">
            {{item.Factory}}</p>
          @if(item.Price<300){
          <h5> <a href="#"
              class="text-yallow text-decoration-none">Discount:
              {{NonDiscount}}</a></h5>
          }@else if (item.Price>1000){
          <h5> <a href="#"
              class="text-dark text-decoration-none">Discount:
              {{FiveDiscount}}</a></h5>
          }@else {
          <h5> <a href="#"
              class="text-dark text-decoration-none">Discount:
              {{TenDiscount}}</a></h5>
          }
          <!-- @if (item.Quantity==0){
          <p class=" text-danger text-bold fs-5 font-italic">Out of stock</p>
          } @else if (item.Quantity>0) {
          <p class=" text-danger text-bold fs-5 font-italic">Stock Available</p>
          } @else {
          <p class=" text-danger text-bold fs-5 font-italic">Not Available</p>
          } -->
          @switch(item.Quantity){
          @case (1) {
          <p class=" text-danger text-bold fs-5 font-italic">Last one of
            stock</p>
          }
          @case (2) {
          <p class=" text-danger text-bold fs-5 font-italic">Last Two of
            stock</p>
          }
          @case (0) {
          <p class=" text-danger text-bold fs-5 font-italic">Out of stock</p>
          }
          @default{
          <p class=" text-danger text-bold fs-5 font-italic">In stock</p>
          }
          }
          <ul class="list-inline small">
            <li class="list-inline-item m-0"><i
                class="fa fa-star text-success"></i>{{item.Quantity}}</li>
            <li class="list-inline-item m-0"><i
                class="fa fa-star text-success"></i></li>
            <li class="list-inline-item m-0"><i
                class="fa fa-star text-success"></i></li>
            <li class="list-inline-item m-0"><i
                class="fa fa-star text-success"></i></li>
            <li class="list-inline-item m-0"><i
                class="fa fa-star-o text-success"></i></li>
          </ul>
          <form name="contactForm" (ngSubmit)="editProduct(item.id, item)"
            #formEditProduct="ngForm">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" required
                  placeholder="productName" name="Name" [(ngModel)]="item.Name"
                  #NameInput="ngModel"
                  [ngClass]="{'is-invalid':(NameInput.touched||NameInput.dirty)&&NameInput.invalid}">
                <input type="text" class="form-control"
                  placeholder="productPrice" name="Price"
                  [(ngModel)]="item.Price"
                  #PriceInput="ngModel">
                <span class="invalid-feedback">

                  @if(NameInput.errors?.['required']){
                  <span>First Name is required</span>
                  }
                </span>
              </div>
              <div class="col">
                <input type="text" class="form-control"
                  placeholder="productQuantity" name="Quantity"
                  [(ngModel)]="item.Quantity"
                  #QuantityInput="ngModel">
              </div>
            </div>
          </form>
          <button type="button"
            class="btn btn-primary rounded text-center d-flx"
            (click)="togglePurchase(item)"
            [disabled]="item.Quantity == 0"
            (click)="buyProduct(item)"
            (click)="goPrdDetails(item.id)">View</button>
          <button type="submit"
            class="btn btn-primary rounded text-center d-flx m-1"
            (click)="editProduct(item.id,item)"
            [disabled]="formEditProduct.invalid">
            Edit Product</button>
          <button type="button"
            class="btn btn-primary rounded text-center d-flx"
            (click)="deleteProduct(item.id)">Delete
            Product</button>
        </div>
      </div>
      @if(isPurchased && selectedItem === item){
      <img [src]="item.Img" class="img-fluid">
      <p class="text-bold font-italic">Thanks for purchasing from our Store, {{
        item.Name }}!</p>
      }
    </div>

    }
    @empty {

    <h2>No Thing To show</h2>
    }
  </div>

  <!-- Second Row [Team]-->
  <h2 class="font-weight-bold mb-2">Our Team</h2>
  <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur
    adipisicing elit, sed do eiusmod tempor incididunt.</p>

  <div class="row pb-5 mb-4">
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img
            src="https://bootstrapious.com/i/snippets/sn-cards/profile-1_dewapk.jpg"
            alt class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="mb-0">Mark Rockwell</h5>
            <p class="small text-muted">CEO - Consultant</p>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item m-0"><a href="#"
                  class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item m-0"><a href="#"
                  class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item m-0"><a href="#"
                  class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item m-0"><a href="#"
                  class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img
            src="https://bootstrapious.com/i/snippets/sn-cards/profile-3_ybnq8v.jpg"
            alt class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="mb-0">Mark Rockwell</h5>
            <p class="small text-muted">CEO - Consultant</p>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item m-0"><a href="#"
                  class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item m-0"><a href="#"
                  class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item m-0"><a href="#"
                  class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item m-0"><a href="#"
                  class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img
            src="https://bootstrapious.com/i/snippets/sn-cards/profile-2_ujssbj.jpg"
            alt class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="mb-0">Mark Rockwell</h5>
            <p class="small text-muted">CEO - Consultant</p>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item m-0"><a href="#"
                  class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item m-0"><a href="#"
                  class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item m-0"><a href="#"
                  class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item m-0"><a href="#"
                  class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img
            src="https://res.cloudinary.com/mhmd/image/upload/v1570799922/profile-2_ujssbj.jpg"
            alt class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="mb-0">Mark Rockwell</h5>
            <p class="small text-muted">CEO - Consultant</p>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item m-0"><a href="#"
                  class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item m-0"><a href="#"
                  class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item m-0"><a href="#"
                  class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item m-0"><a href="#"
                  class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Third Row [Profiles]-->
  <h2 class="font-weight-bold mb-2">Active Profiles</h2>
  <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur
    adipisicing elit, sed do eiusmod tempor incididunt.</p>

  <div class="row pb-5 mb-4">

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card rounded shadow-sm border-0">
        <div class="card-body p-0">
          <div class="bg-primary px-5 py-4 text-center card-img-top"><img
              src="https://bootstrapious.com/i/snippets/sn-cards/teacher-4.jpg"
              alt="..." width="100"
              class="rounded-circle mb-2 img-thumbnail d-block mx-auto">
            <h5 class="text-white mb-0">Emma Nevoresky</h5>
            <p class="small text-white mb-0">Elite user</p>
          </div>
          <div class="p-4 d-flex justify-content-center">
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block">241</h5><small
                  class="text-muted"><i
                    class="fa fa-picture-o mr-1 text-primary"></i>Photos</small>
              </li>
              <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block">84K</h5><small
                  class="text-muted"><i
                    class="fa fa-user-circle-o mr-1 text-primary"></i>Followers</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card rounded shadow-sm border-0">
        <div class="card-body p-0">
          <div class="bg-success px-5 py-4 text-center card-img-top"><img
              src="https://bootstrapious.com/i/snippets/sn-cards/teacher-2.jpg"
              alt="..." width="100"
              class="rounded-circle mb-2 img-thumbnail d-block mx-auto">
            <h5 class="text-white mb-0">Samuel Hardy</h5>
            <p class="small text-white mb-0">Elite user</p>
          </div>
          <div class="p-4 d-flex justify-content-center">
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block">241</h5><small
                  class="text-muted"><i
                    class="fa fa-picture-o mr-1 text-success"></i>Photos</small>
              </li>
              <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block">84K</h5><small
                  class="text-muted"><i
                    class="fa fa-user-circle-o mr-1 text-success"></i>Followers</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card rounded shadow-sm border-0">
        <div class="card-body p-0">
          <div class="bg-info px-5 py-4 text-center card-img-top"><img
              src="https://bootstrapious.com/i/snippets/sn-cards/teacher-7.jpg"
              alt="..." width="100"
              class="rounded-circle mb-2 img-thumbnail d-block mx-auto">
            <h5 class="text-white mb-0">Tom Sunderland</h5>
            <p class="small text-white mb-0">Elite user</p>
          </div>
          <div class="p-4 d-flex justify-content-center">
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block">241</h5><small
                  class="text-muted"><i
                    class="fa fa-picture-o mr-1 text-info"></i>Photos</small>
              </li>
              <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block">84K</h5><small
                  class="text-muted"><i
                    class="fa fa-user-circle-o mr-1 text-info"></i>Followers</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card rounded shadow-sm border-0">
        <div class="card-body p-0">
          <div class="bg-warning px-5 py-4 text-center card-img-top"><img
              src="https://bootstrapious.com/i/snippets/sn-cards/teacher-1.jpg"
              alt="..." width="100"
              class="rounded-circle mb-2 img-thumbnail d-block mx-auto">
            <h5 class="text-white mb-0">John Tarly</h5>
            <p class="small text-white mb-0">Elite user</p>
          </div>
          <div class="p-4 d-flex justify-content-center">
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block">241</h5><small
                  class="text-muted"><i
                    class="fa fa-picture-o mr-1 text-warning"></i>Photos</small>
              </li>
              <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block">84K</h5><small
                  class="text-muted"><i
                    class="fa fa-user-circle-o mr-1 text-warning"></i>Followers</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- First Row [Statistics]-->
  <h2 class="font-weight-bold mb-2">Latest Statistics</h2>
  <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur
    adipisicing elit, sed do eiusmod tempor incididunt.</p>

  <div class="row pb-5">
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card rounded shadow-sm border-0">
        <div class="card-body p-5"><i
            class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h5>Products Sales</h5>
          <p class="small text-muted font-italic">Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.</p>
          <div class="progress rounded-pill">
            <div role="progressbar" aria-valuenow="70" aria-valuemin="0"
              aria-valuemax="100" style="width: 70%;"
              class="progress-bar rounded-pill"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card -->
      <div class="card rounded shadow-sm border-0">
        <div class="card-body p-5"><i
            class="fa fa-tasks fa-2x mb-3 text-success"></i>
          <h5>Completed Tasks</h5>
          <p class="small text-muted font-italic">Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.</p>
          <div class="progress rounded-pill">
            <div role="progressbar" aria-valuenow="80" aria-valuemin="0"
              aria-valuemax="100" style="width: 80%;"
              class="progress-bar bg-success rounded-pill"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card -->
      <div class="card rounded shadow-sm border-0">
        <div class="card-body p-5"><i
            class="fa fa-user-circle-o fa-2x mb-3 text-info"></i>
          <h5>New Users</h5>
          <p class="small text-muted font-italic">Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.</p>
          <div class="progress rounded-pill">
            <div role="progressbar" aria-valuenow="70" aria-valuemin="0"
              aria-valuemax="100" style="width: 70%;"
              class="progress-bar bg-info rounded-pill"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Card -->
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <div class="card rounded shadow-sm border-0">
        <div class="card-body p-5"><i
            class="fa fa-shopping-bag fa-2x mb-3 text-warning"></i>
          <h5>New Products</h5>
          <p class="small text-muted font-italic">Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.</p>
          <div class="progress rounded-pill">
            <div role="progressbar" aria-valuenow="70" aria-valuemin="0"
              aria-valuemax="100" style="width: 70%;"
              class="progress-bar bg-warning rounded-pill"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
