{% extends 'base.html' %}

{% block head %}
  <title>EchoMart - Where Every Click Matters</title>
{% endblock %}

{% block body %} 
  <!-- Video -->
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <video class="video-background" autoplay loop muted>
          <source src="../static/assets/v.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>

  <!-- Go To Main Page Button -->
  <div class="text-center mt-5">
    <a  href="main" class="btn btn-primary btn-lg">Go To Main Page</a>
  </div>
{% endblock %}