<div class="container text-center w-100">
  <div class="head-text">
    <p>404 Not Found</p>
  </div>
  <div class="row text-center d-flex justify-content-center w-100">

    <div class="col-6">
      <div class="main-wrapper">
        <picture class="scarecrow-img">
          <img
            src="https://raw.githubusercontent.com/nat-oku/devchallenges/main/Scarecrow.png"
            alt="scarecrow">
        </picture>

      </div>
    </div>
    <div class="col-4">
      <div class="error-text">
        <h2>I have bad news for you</h2>
        <p>The page you are looking for might be removed or is temporarily
          unbailable.</p>
        <span class="input-group-btn">
          <button class="btn" type="button">Back to homepage</button>
        </span>
      </div>
    </div>
  </div>
</div>
